<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
   body{
      text-align: center;
   }
   img{
      width: 200px;
   }
</style>
</head>
<body>
   <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcraftizen.org%2Fwp-content%2Fuploads%2F2019%2F02%2Fsuccessful_payment_388054.png&f=1&nofb=1" alt="">
    <div class="container">
        <div class="row">
           <div class="col-md-6 mx-auto mt-5">
              <div class="payment">
                 <div class="payment_header">
                    <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                 </div>
                 <div class="content">
                    <h1>Payment Success !</h1>
                    <p>Hey <%=name%>! you can now close your window</p>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>
</body>
</html>